.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, #1344a4, #011054);
  padding: 15px 20px;
  height: 70px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0px;
  margin: 0;
  margin-left: auto;
}

li .menu-item {
  color: #fefefe;
  display: block;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
li .menu-item:hover {
  color: #e05941;
}
a.menu-item.active{
  color: #e05941;
}
